<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Andrei Mari C. Panaligan</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .container-fluid {
            margin-top: 15px;
        }
        
        .margin-top-15 {
            margin-top: 15px;
        }
    </style>

</head>

<body ng-app="HKG">
    <div class="container-fluid" ng-controller="hkgCtrl as vm">
        <div class="row">
            <uib-tabset justified="true">
                <uib-tab heading="March 17" index="0">
                    <div class="row margin-top-15">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Activity</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.march17Activities">
                                        <td>{{$index + 1}}. {{item.activity}}</td>
                                        <td>{{item.time}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ol>
                                <li ng-repeat="item in vm.march17Activities">
                                    {{item.activity}}
                                    <ol type="a">
                                        <li ng-repeat="note in item.notes">
                                            <span ng-bind-html="note"></span>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Expense</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.march17Expenses">
                                        <td>{{$index + 1}}. {{item.expense}}</td>
                                        <td>P{{item.amount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>P{{vm.march17Expenses.map(vm.mapFn).reduce(vm.sumFn, 0)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="March 18" index="1">
                    March 18 Itinerary
                </uib-tab>
                <uib-tab heading="March 19" index="2">
                    March 19 Itinerary
                </uib-tab>
                <uib-tab heading="March 20" index="3">
                    March 20 Itinerary
                </uib-tab>
                <uib-tab heading="March 21" index="4">
                    March 21 Itinerary
                </uib-tab>
                <uib-tab heading="March 22" index="5">
                    March 22 Itinerary
                </uib-tab>
                <uib-tab heading="March 23" index="6">
                    March 23 Itinerary
                </uib-tab>
                <uib-tab heading="March 24" index="7">
                    March 24 Itinerary
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.8/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script src="hkg.js"></script>

</body>

</html>